﻿@model Hafele.Models.OffersLeads

@{
    ViewBag.Title = "Offers_Leads";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">

        @*<div class="page-title">
            <div class="title_left">
                <h3>Offers Leads</h3>
            </div>


        </div>*@

        @using (Html.BeginForm("DownloadOfferListExcel", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Offers Leads</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="title_right">
                            <div class="col-xs-12 form-group text-right ">
                                <input type="submit" value="Export To Excel" class="btn btn-success StoreDDLValueinhihhenfields" />
                            </div>
                           
                        </div>
                </div>
            </div>
                </div>
        }
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>
                                        FullName
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        MobileNo
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Offers
                                    </th>
                                    <th>
                                        utm_source
                                    </th>

                                    <th>
                                        utm_content
                                    </th>
                                    <th>
                                        utm_campaign
                                    </th>
                                    <th>
                                        Device
                                    </th>
                                    <th>
                                        utm_city
                                    </th>
                                    <th>
                                        Datee
                                    </th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.OffersLeadsList != null)
                                {
                                    foreach (var item in Model.OffersLeadsList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MobileNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Offers)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.utm_source)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.utm_content)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.utm_campaign)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Device)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.utm_city)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>

                                            <td>

                                                <a href="@Url.Action("DeleteOffers_Leads", "Admin", new { id = item.Id })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

