﻿@model Hafele.Models.OffersLeads

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#0f2765" />
    <meta name="description" content="">
    <title>Hafele - Flat 40% Off</title>
    <link rel="shortcut icon" href="https://www.hafeleindia.com/hap-live/static/WFS/Haefele-HIN-Site/-/-/en_IN/images/favicons/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Resource/website/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/Resource/website/css/style.css">
</head>
<body data-spy="scroll" data-target="#menusNav">

    <div class="wrapper">

        <section class="bannerSection" id="home">
            <img src="/Content/Resource/website/images/heroBg.jpg" class="bannerImg">

            <div class="logoBox"><img src="/Content/Resource/website/images/hafeleLogo.png" title="Hafele India" class="w-100"></div>
        </section>

        <section class="timerSection pb-3">

            <div class="timerContainer mx-auto text-center text-white">
                <div class="timerBadge rounded-pill mx-auto">Hurry Up! Offers Ends In</div>
                <div class="timerClock">

                    <div class="row timerBox" id="timer">
                        <div class="col"><div id="days" class="timerCount">00</div> <div class="d-block timerPart"> Days </div></div>
                        <div class="col"><div id="hours" class="timerCount">00</div> <div class="d-block timerPart"> Hours </div></div>
                        <div class="col"><div id="minutes" class="timerCount">00</div> <div class="d-block timerPart"> Minutes </div></div>
                        <div class="col"><div id="seconds" class="timerCount">00</div> <div class="d-block timerPart"> Seconds </div></div>
                    </div>

                </div>
            </div>

        </section>

        <header class="pageHeader">

            <div class="text-center intructTitle">Choose the offer and fill in your details below</div>

            <div class="mx-auto navingContainer" id="stickyBtnAnchor">
                <div class="navig text-center">

                    <button class="menuBtn d-md-none"></button>

                    <ul class="menu nav d-md-inline-flex" id="menusNav">
                        <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="#kitchen_machine" class="nav-link">Kitchen Machine</a></li>
                        <li class="nav-item"><a href="#cold_press_juicer" class="nav-link">Cold Press Juicer</a></li>
                        <li class="nav-item"><a href="#vacuum_blender" class="nav-link">Vacuum Blender</a></li>
                        <li class="nav-item"><a href="#kettle" class="nav-link">Kettle</a></li>
                        <li class="nav-item"><a href="#toaster" class="nav-link">Toaster</a></li>
                        <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>

        </header>

        <section class="graySection pb-5 clearfix">
            <div class="anchorTrigger" id="kitchen_machine"></div>

            <div class="productTitle py-4 mb-5 text-center"><h2 class="text-uppercase prodHead">Kitchen Machine</h2><span class="prodofferTxt">Flat 40% Off</span></div>

            <div class="container">

                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 justify-content-center">
                    <div class="col mb-5">

                        <div class="prodHolder prodBox bg-white rounded h-100 text-center d-flex flex-column">
                            <div class="col Klara">

                                <div class="d-flex flex-column">
                                    <div class="prodImgBox"><img src="/Content/Resource/website/images/Klara_Highline_Murphy_Red/1.jpg" class="prodImg w-100"></div>
                                    <div class="prodName"><h2>Klara Highline - Murphy Red</h2></div>
                                    <div class="">
                                        <div class="row prodPrices">
                                            <div class="col text-right prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">34,374</span></div>
                                            <div class="col text-left prodRealPrice">MRP <span class="price strike">57,290</span> <br> <span class="savePrice">You Save <span class="price">22,916</span></span></div>
                                        </div>
                                    </div>
                                    <div class=""><a href="" class="prodVdBtn rounded">View Details</a></div>
                                </div>

                            </div>
                            <div class="col">
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                    <div class="col mb-5">

                        <div class="prodHolder prodBox bg-white rounded h-100 text-center d-flex flex-column">
                            <div class="col">

                                <div class="d-flex flex-column">
                                    <div class="prodImgBox"><img src="/Content/Resource/website/images/Klara_Highline_Grey/1.jpg" class="prodImg w-100"></div>
                                    <div class="prodName"><h2>Klara Highline - Grey</h2></div>
                                    <div class="">
                                        <div class="row prodPrices">
                                            <div class="col text-right prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">34,374</span></div>
                                            <div class="col text-left prodRealPrice">MRP <span class="price strike">57,290</span> <br> <span class="savePrice">You Save <span class="price">22,916</span></span></div>
                                        </div>
                                    </div>
                                    <div class=""><a href="" class="prodVdBtn rounded">View Details</a></div>
                                </div>

                            </div>
                            <div class="col">
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                    <div class="col mb-5">

                        <div class="prodHolder prodBox bg-white rounded h-100 text-center d-flex flex-column">
                            <div class="col">

                                <div class="d-flex flex-column">
                                    <div class="prodImgBox"><img src="/Content/Resource/website/images/viola_pro/1.jpg" class="prodImg w-100"></div>
                                    <div class="prodName"><h2>Viola Pro</h2></div>
                                    <div class="">
                                        <div class="row prodPrices">
                                            <div class="col text-right prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">34,374</span></div>
                                            <div class="col text-left prodRealPrice">MRP <span class="price strike">57,290</span> <br> <span class="savePrice">You Save <span class="price">22,916</span></span></div>
                                        </div>
                                    </div>
                                    <div class=""><a href="" class="prodVdBtn rounded">View Details</a></div>
                                </div>

                            </div>
                            <div class="col">
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section>

        <section class="graySection pb-5 clearfix">
            <div class="anchorTrigger" id="cold_press_juicer"></div>

            <div class="productTitle py-4 mb-5 text-center"><h2 class="text-uppercase prodHead">Cold Press Juicer</h2><span class="prodofferTxt">Flat 40% Off</span></div>

            <div class="container rounded prodBigContainer">

                <div class="prodHolderBig rounded row no-gutters">
                    <div class="col-lg-6 col-12">
                        <div class="prodImgBoxBig h-100"><img src="/Content/Resource/website/images/Magnus_Cold_Press_Juicer/1.jpg" class="prodImg w-100 h-100"></div>
                    </div>
                    <div class="col-lg-6 col-12 d-flex">

                        <div class="align-self-center d-flex flex-column prodInfoBig prodBox rounded-right">
                            <div class="prodName"><h2>Magnus Cold Press Juicer</h2></div>
                            <div class="prodBrief mb-3">
                                <p class="mb-2">Slow and gentle rotation of 35 RPM, Big 83 MM Magnafeed inlet for whole fruits...</p>
                                <a href="" class="prodVdBtn rounded">View Details</a>
                            </div>
                            <div class="position-relative">
                                <div class="row mb-4 prodPrices">
                                    <div class="col-auto text-left prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">23,214</span></div>
                                    <div class="col text-left prodRealPrice">MRP <span class="price strike">38,690</span> <br> <span class="savePrice">You Save <span class="price">15,476</span></span></div>
                                </div>
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section>

        <section class="graySection pb-5 clearfix">
            <div class="anchorTrigger" id="vacuum_blender"></div>

            <div class="productTitle py-4 mb-5 text-center"><h2 class="text-uppercase prodHead">Vacuum Blender</h2><span class="prodofferTxt">Flat 40% Off</span></div>

            <div class="container rounded prodBigContainer">

                <div class="prodHolderBig rounded row no-gutters">
                    <div class="col-lg-6 col-12">
                        <div class="prodImgBoxBig h-100"><img src="/Content/Resource/website/images/Oktablend/1.jpg" class="prodImg w-100 h-100"></div>
                    </div>
                    <div class="col-lg-6 col-12 d-flex">

                        <div class="align-self-center d-flex flex-column prodInfoBig prodBox rounded-right">
                            <div class="prodName"><h2>OktaBlend</h2></div>
                            <div class="prodBrief mb-3">
                                <p class="mb-2">2200W Powerful Vacuum Blender with 80KPa Pressure of Vaccum that helps to take out maximum air,..</p>
                                <a href="" class="prodVdBtn rounded">View Details</a>
                            </div>
                            <div class="position-relative">
                                <div class="row mb-4 prodPrices">
                                    <div class="col-auto text-left prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">26,274</span></div>
                                    <div class="col text-left prodRealPrice">MRP <span class="price strike">43,790</span> <br> <span class="savePrice">You Save <span class="price">17,516</span></span></div>
                                </div>
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section>

        <section class="graySection pb-5 clearfix">
            <div class="anchorTrigger" id="kettle"></div>

            <div class="productTitle py-4 mb-5 text-center"><h2 class="text-uppercase prodHead">Kettle</h2><span class="prodofferTxt">Flat 40% Off</span></div>

            <div class="container">

                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 justify-content-center">
                    <div class="col mb-5">

                        <div class="prodHolder prodBox bg-white rounded h-100 text-center d-flex flex-column">
                            <div class="col">

                                <div class="d-flex flex-column">
                                    <div class="prodImgBox"><img src="/Content/Resource/website/images/Dome_Kettle_Red/1.jpg" class="prodImg w-100"></div>
                                    <div class="prodName"><h2>Dome Kettle - Red</h2></div>
                                    <div class="">
                                        <div class="row prodPrices">
                                            <div class="col text-right prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">4,314</span></div>
                                            <div class="col text-left prodRealPrice">MRP <span class="price strike">7,190</span> <br> <span class="savePrice">You Save <span class="price">2,876</span></span></div>
                                        </div>
                                    </div>
                                    <div class=""><a href="" class="prodVdBtn rounded">View Details</a></div>
                                </div>

                            </div>
                            <div class="col">
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                    <div class="col mb-5">

                        <div class="prodHolder prodBox bg-white rounded h-100 text-center d-flex flex-column">
                            <div class="col">

                                <div class="d-flex flex-column">
                                    <div class="prodImgBox"><img src="/Content/Resource/website/images/Dome_Kettle_Grey/1.jpg" class="prodImg w-100"></div>
                                    <div class="prodName"><h2>Dome Kettle - Grey</h2></div>
                                    <div class="">
                                        <div class="row prodPrices">
                                            <div class="col text-right prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">4,314</span></div>
                                            <div class="col text-left prodRealPrice">MRP <span class="price strike">7,190</span> <br> <span class="savePrice">You Save <span class="price">2,876</span></span></div>
                                        </div>
                                    </div>
                                    <div class=""><a href="" class="prodVdBtn rounded">View Details</a></div>
                                </div>

                            </div>
                            <div class="col">
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                    <div class="col mb-5">

                        <div class="prodHolder prodBox bg-white rounded h-100 text-center d-flex flex-column">
                            <div class="col">

                                <div class="d-flex flex-column">
                                    <div class="prodImgBox"><img src="/Content/Resource/website/images/Queen_Kettle/1.jpg" class="prodImg w-100"></div>
                                    <div class="prodName"><h2>Queen Kettle</h2></div>
                                    <div class="">
                                        <div class="row prodPrices">
                                            <div class="col text-right prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">4,674</span></div>
                                            <div class="col text-left prodRealPrice">MRP <span class="price strike">7,790</span> <br> <span class="savePrice">You Save <span class="price">3,116</span></span></div>
                                        </div>
                                    </div>
                                    <div class=""><a href="" class="prodVdBtn rounded">View Details</a></div>
                                </div>

                            </div>
                            <div class="col">
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section>

        <section class="graySection clearfix">
            <div class="anchorTrigger" id="toaster"></div>

            <div class="productTitle py-4 mb-5 text-center"><h2 class="text-uppercase prodHead">Toaster</h2><span class="prodofferTxt">Flat 40% Off</span></div>

            <div class="container">

                <div class="row row-cols-md-2 row-cols-1 justify-content-center">
                    <div class="col mb-5">

                        <div class="prodHolder prodBox bg-white rounded h-100 text-center d-flex flex-column">
                            <div class="col">

                                <div class="d-flex flex-column">
                                    <div class="prodImgBox"><img src="/Content/Resource/website/images/Amber_Toaster_Opal/1.jpg" class="prodImg w-100"></div>
                                    <div class="prodName"><h2>Amber 2 Slot Toaster – Opal</h2></div>
                                    <div class="">
                                        <div class="row prodPrices">
                                            <div class="col text-right prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">3,894</span></div>
                                            <div class="col text-left prodRealPrice">MRP <span class="price strike">6,490</span> <br> <span class="savePrice">You Save <span class="price">2,596</span></span></div>
                                        </div>
                                    </div>
                                    <div class=""><a href="" class="prodVdBtn rounded">View Details</a></div>
                                </div>

                            </div>
                            <div class="col">
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                    <div class="col mb-5">

                        <div class="prodHolder prodBox bg-white rounded h-100 text-center d-flex flex-column">
                            <div class="col">

                                <div class="d-flex flex-column">
                                    <div class="prodImgBox"><img src="/Content/Resource/website/images/Amber_Toaster_Jade/1.jpg" class="prodImg w-100"></div>
                                    <div class="prodName"><h2>Amber 2 Slot Toaster – Jade</h2></div>
                                    <div class="">
                                        <div class="row prodPrices">
                                            <div class="col text-right prodOfferPrice"><small class="d-block">Offer Retail Price</small><span class="price offerPrice">3,894</span></div>
                                            <div class="col text-left prodRealPrice">MRP <span class="price strike">6,490</span> <br> <span class="savePrice">You Save <span class="price">2,596</span></span></div>
                                        </div>
                                    </div>
                                    <div class=""><a href="" class="prodVdBtn rounded">View Details</a></div>
                                </div>

                            </div>
                            <div class="col">
                                <button class="prodselectBtn pinkBtn rounded-pill"><span class="noSelectTxt">Select Offer</span><span class="selectedTxt"><img src="/Content/Resource/website/images/tick.svg"> Selected</span></button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section>

        <section class="graySection pt-5 clearfix" id="contact">

            <div class="w-100 pb-5 formSection" style="min-height:400px">

                <div class="container">

                    <div class="text-center pt-5 mb-5 intructTitle">Send your details with your selected offers to us</div>

                    <div class="row">
                        <div class="col-lg-6 order-lg-2">

                            <div class="selectedSide text-center text-lg-left mb-5 mb-lg-0">
                                <p class="text-uppercase font-medium" style="font-size:12px">Your Selected Offers :</p>

                                <div class="offerNotSelected">
                                    <p><strong>Your have not selected any offers. Please select an offer above to proceed.</strong></p>
                                    <button class="pinkBtn rounded-pill gotoLink" data-target="kitchen_machine">Select an Offer</button>
                                </div>

                                <div class="offerSelected text-center text-lg-left">

                                    <div class="clearfix">
                                        <ul class="selectedList d-block clearfix mb-4" id="liSelectedOffers">
                                            @*<li class="rounded-pill">Magnus Cold Press Juicer <button class="rounded-circle">&times;</button></li>
                                                <li class="rounded-pill">Magnus Cold Press Juicer <button class="rounded-circle">&times;</button></li>
                                                <li class="rounded-pill">Magnus Cold Press Juicer <button class="rounded-circle">&times;</button></li>*@
                                        </ul>
                                    </div>

                                    <div class="row justify-content-center justify-content-lg-start totalPrices">
                                        <div class="col-auto pr-md-5"><small class="text-uppercase d-block">Your Offer Total</small> <span class="price">30,588</span> </div>
                                        <div class="col-auto pl-md-5" style="color:#f41147"><small class="text-uppercase d-block">Your Saving</small> <span class="price">20,392</span> </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-6 order-lg-1 formSide">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                            {
                                <div class="contactForm mx-auto pt-5 pt-lg-0">
                                    <input type="hidden" id="hiddenOffers" name="hiddenOffers" value="" />
                                    <div class="form-group">
                                        <label class="rounded-pill fieldLabel">Full Name *</label>
                                        @*<input type="text" name="FullName" class="form-control rounded-pill">*@
                                        @Html.TextBoxFor(model => Model.FullName, new { @class = "form-control rounded-pill", @id = "txtFullName", @maxlength = "100" })
                                        <span id="ErrorFullName" class="ErrorValidation">* Required</span>
                                    </div>

                                    <div class="form-group">
                                        <label class="rounded-pill fieldLabel">Email Id *</label>
                                        @*<input type="text" name="Email" class="form-control rounded-pill">*@
                                        @Html.TextBoxFor(model => Model.Email, new { @class = "form-control rounded-pill", @id = "txtEmail", @maxlength = "100" })
                                        <span id="ErrorEmail" class="ErrorValidation">* Required</span>
                                    </div>

                                    <div class="form-group">
                                        <label class="rounded-pill fieldLabel">Mobile No. *</label>
                                        @*<input type="text" name="MobileNo" class="form-control rounded-pill">*@
                                        @Html.TextBoxFor(model => Model.MobileNo, new { @class = "form-control rounded-pill", @id = "txtMobileNo", @maxlength = "100" })
                                        <span id="ErrorMobileNo" class="ErrorValidation">* Required</span>
                                    </div>

                                    <div class="form-group">
                                        <label class="rounded-pill fieldLabel">City *</label>
                                        @*<select name="City" class="form-control rounded-pill">
                                                <option></option>
                                                <option>Delhi NCR</option>
                                                <option>Chandigarh</option>
                                                <option>Bangalore</option>
                                                <option>Hyderabad</option>
                                                <option>Cochin</option>
                                                <option>Chennai</option>
                                                <option>Mumbai MMR</option>
                                                <option>Pune</option>
                                                <option>Ahmedabad</option>
                                                <option>Kolkata</option>
                                                <option>Guwahati</option>
                                                <option>Imphal</option>
                                            </select>*@

                                        @Html.DropDownListFor(model => Model.City, new List<SelectListItem>
{
                                            new SelectListItem{ Text="Delhi NCR", Value = "Delhi NCR" },
    new SelectListItem{ Text="Chandigarh", Value = "Chandigarh" },
    new SelectListItem{ Text="Bangalore", Value = "Bangalore" },
    new SelectListItem{ Text="Hyderabad", Value = "Hyderabad" },
    new SelectListItem{ Text="Cochin", Value = "Cochin" },
        new SelectListItem{ Text="Chennai", Value = "Chennai" },
    new SelectListItem{ Text="Mumbai MMR", Value = "Mumbai MMR" },
      new SelectListItem{ Text="Pune", Value = "Pune" },
        new SelectListItem{ Text="Ahmedabad", Value = "Ahmedabad" },
          new SelectListItem{ Text="Kolkata", Value = "Kolkata" },
            new SelectListItem{ Text="Guwahati", Value = "Guwahati" },
              new SelectListItem{ Text="Imphal", Value = "Imphal" }}, "None", new { @class = "form-control rounded-pill", id = "ddlCity", title = "ddlCity" })

                                        <span id="ErrorCity" class="ErrorValidation">* Required</span>
                                    </div>



                                    <div class="custom-control custom-checkbox form-group mb-4" style="font-size:14px">
                                        <input type="checkbox" class="custom-control-input" id="permission" style="width:20px;height:20px;border-color:#aaa">
                                        <label class="custom-control-label pl-2" for="permission">I authorise Hafele India representative to contact me.</label>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" id="btnsubmit" class="pinkBtn rounded-pill w-100">Submit</button>
                                    </div>

                                </div>
                            }
                        </div>

                    </div>

                </div>

            </div>

        </section>

        <footer class="footer pt-5 graySection">
            <div class="container mb-5">

                <p style="font-size:14px"><strong>Disclaimer:</strong></p>

                <p style="line-height: 1.5">
                    <span class="d-inline-block pr-3 mr-3 border-right border-secondary">Offer valid till  20th July 2021 only</span>
                    <span class="d-inline-block pr-3 mr-3 border-right border-secondary">Offer Prices are exclusive of taxes</span>
                    <span class="d-inline-block">Installation charges additional</span>
                </p>

                <p><small>The information contained in this website is for general information purposes only. The information is provided by Hafele India Pvt. Ltd. and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk. In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website. Through this website you are able to link to other websites which are not under the control of Hafele India Pvt. Ltd. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</small></p>

            </div>

            <div class="container" style="font-size:14px">
                <div class="row no-gutters pt-3 pb-5 bottomFoot">
                    <div class="col">&copy;2021, Hafele. All Rights Reserved.</div>
                    <div class="col-auto socialBtns">
                        <a href="https://www.facebook.com/hafeleindia" target="_blank" class="icon facebook"></a>
                        <a href="https://www.instagram.com/hafele_india/" target="_blank" class="icon instagram"></a>
                        <a href="https://twitter.com/hafeleindia" target="_blank" class="icon twitter"></a>
                        <a href="https://www.youtube.com/user/HaefeleIN1" target="_blank" class="icon youtube"></a>
                        <a href="https://www.linkedin.com/company/hafele-india" target="_blank" class="icon linkedin"></a>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <button class="gboBtn" data-toggle="modal" data-target="#getBestOfferForm"><small class="d-block">Get the</small>Best Offers</button>

    <div class="modal fade" id="getBestOfferForm" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">

                <div class="container-fluid py-4 bg-light rounded">

                    <h4 class="mb-3 text-center">Get the best offers from Hafele</h4>

                    <button type="button" class="close acpopClose text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="contactForm mx-auto">

                        <div class="form-group">
                            <label class="rounded-pill fieldLabel">Full Name *</label>
                            <input type="text" name="" class="form-control rounded-pill">
                        </div>

                        <div class="form-group">
                            <label class="rounded-pill fieldLabel">Email Id *</label>
                            <input type="text" name="" class="form-control rounded-pill">
                        </div>

                        <div class="form-group">
                            <label class="rounded-pill fieldLabel">Mobile No. *</label>
                            <input type="text" name="" class="form-control rounded-pill">
                        </div>

                        <div class="form-group">
                            <label class="rounded-pill fieldLabel">City *</label>
                            <select name="" class="form-control rounded-pill">
                                <option></option>
                                <option>Delhi NCR</option>
                                <option>Chandigarh</option>
                                <option>Bangalore</option>
                                <option>Hyderabad</option>
                                <option>Cochin</option>
                                <option>Chennai</option>
                                <option>Mumbai MMR</option>
                                <option>Pune</option>
                                <option>Ahmedabad</option>
                                <option>Kolkata</option>
                                <option>Guwahati</option>
                                <option>Imphal</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="rounded-pill fieldLabel">Offers *</label>
                            <select name="" class="form-control rounded-pill">
                                <option></option>
                                <optgroup label="Kitchen Machine">
                                    <option>Klara Highline Murphy Red - &#8377; 34,374 </option>
                                    <option>Klara Highline Grey - &#8377; 34,374 </option>
                                    <option>Viola Pro - &#8377; 34,374 </option>
                                </optgroup>
                                <optgroup label="Cold Press Juicer">
                                    <option>Magnus Cold Press Juicer - &#8377; 23,214 </option>
                                </optgroup>
                                <optgroup label="Vacuum Blender">
                                    <option>OktaBlend - &#8377; 26,274 </option>
                                </optgroup>
                                <optgroup label="Kettle">
                                    <option>Dome Kettle Red - &#8377; 4,314 </option>
                                    <option>Dome Kettle Grey - &#8377; 4,314 </option>
                                    <option>Queen Kettle - &#8377; 4,674 </option>
                                </optgroup>
                                <optgroup label="Toaster">
                                    <option>Amber 2 Slot Toaster Opal - &#8377; 3,894 </option>
                                    <option>Amber 2 Slot Toaster Jade - &#8377; 3,894 </option>
                                </optgroup>
                            </select>
                        </div>

                        <div class="custom-control custom-checkbox form-group mb-4" style="font-size:14px">
                            <input type="checkbox" class="custom-control-input" id="permission2" style="width:20px;height:20px;border-color:#aaa">
                            <label class="custom-control-label pl-2" for="permission2">I authorise Hafele India representative to contact me.</label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="pinkBtn rounded-pill w-100">Submit</button>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="/Content/Resource/website/js/jquery-3.5.1.min.js"></script>
    <script src="/Content/Resource/website/js/bootstrap.bundle.min.js"></script>
    <script>

        $(window).on('load', function () {
            //  $(".preloader").addClass("complete"), $(".preloader").fadeOut("slow", function() {

            // });
            setTimeout(function () {
                $('#getBestOfferForm').modal('show', 'handleUpdate');
            }, 1000);
        });

        /* ---------- Sticky Btn ----------- */

        function sticky_relocate() {
            var window_top = $(window).scrollTop();
            var div_top = $('#stickyBtnAnchor').offset().top;
            if (window_top > div_top) {
                $('.navig').addClass('stick');
            } else {
                $('.navig').removeClass('stick');
            }
        }
        $(function () {
            $(window).scroll(sticky_relocate);
            sticky_relocate();
        });

        /* ------------------------- */
        if ($(window).width() < 768) {

            // $('.menu .nav-item').hide();
            // $('.menu .nav-link').hasClass('active').parent('li').show();


            $('.menuBtn, .nav-item').on('click', function () {
                $('.menu .nav-link:not(.active)').toggle();
            });
        }

        //  $('.menuBtn, .nav-link').on('click', function(){
        // 	$('.menus, .menuBtn').toggleClass('menuOpen');
        // 	$('.menus').slideToggle();
        // });

        /* ----------  Selected Toggle  --------------- */

        //$('.prodselectBtn').on('click',function(){
        //	$(this).parents('.prodBox').toggleClass('selected');
        //});


        /*  --------------- Timer --------------  */

        function makeTimer() {

            var endTime = new Date("21 July 2021 00:00:00");
            endTime = (Date.parse(endTime) / 1000);
            var now = new Date();
            now = (Date.parse(now) / 1000);
            var timeLeft = endTime - now;
            var days = Math.floor(timeLeft / 86400);
            var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
            var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
            var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

            if (hours < "10") { hours = "0" + hours; }
            if (minutes < "10") { minutes = "0" + minutes; }
            if (seconds < "10") { seconds = "0" + seconds; }

            // console.log(days,hours,minutes,seconds);
            var isDays = false;
            if (timeLeft < 0) {
                $("#days").html(0);
                $("#hours").html(0);
                $("#minutes").html(0);
                $("#seconds").html(0);
            }
            else {
                $("#days").html(days);
                $("#hours").html(hours);
                $("#minutes").html(minutes);
                $("#seconds").html(seconds);
            }

        }
        var mInterval = setInterval(function () { makeTimer(); }, 100);


        /*  ---------- ON-SCROLL ANIMATION ------------  */
        $(window).on('load', function () {
            $(".bannerTextArea h1, .bannerTextArea h2").addClass("in-view");
        });

        var $animation_elements = $('.animateThis');
        var $window = $(window);

        function check_if_in_view() {
            var window_height = $window.height();
            var window_top_position = $window.scrollTop();
            var window_bottom_position = (window_top_position + window_height - 30);

            $.each($animation_elements, function () {
                var $element = $(this);
                var element_height = $element.outerHeight();
                var element_top_position = $element.offset().top + 30;
                var element_bottom_position = (element_top_position + element_height);

                if ((element_top_position <= window_bottom_position)) {
                    $element.addClass('in-view');
                } else {
                    $element.removeClass('in-view');
                }
            });
        }
        $window.on('scroll resize', check_if_in_view);

        /*  ------------ ScrollTo ------------  */

        $('.gotoLink').on('click', function () {
            var rel = $(this).attr('data-target');
            $('html, body').animate({ scrollTop: $('#' + rel).offset().top - 54 }, 100);
        });


        // 31_05_2021
        var SelectedOffers = [];

        $('.prodselectBtn').on('click', function () {
            $(this).parents('.prodBox').toggleClass('selected');
            if ($(this).parents('.prodBox').hasClass('selected')) {
                var hTwoText = $(this).parents('.prodBox').find("h2").text();
                SelectedOffers.push(hTwoText);
                var abc = hTwoText.split(/\s/).join('');
                $('#liSelectedOffers').append('<li class="rounded-pill" id=' + abc + '>' + hTwoText + '<button class="rounded-circle">&times;</button></li>');


            }
            else {
                var hTwoText = $(this).parents('.prodBox').find("h2").text();

                for (i = 0; i <= SelectedOffers.length; i++) {
                    if (SelectedOffers[i] == hTwoText) {
                        var abc = hTwoText.split(/\s/).join('');
                        SelectedOffers.splice(i, 1)

                        $('#' + abc).remove();



                    }
                }

            }

        });



        $(document).on('click', '.rounded-circle', function () {
            //console.log('delete');
            $(this).removeClass('rounded-circle');

            var a = $(this).closest("li").text();

            //a = hTwoText.split(/\s/).join('');
            $(this).closest("li").remove();

            alert(a);
        });

        $(document).ready(function () {
            $("#btnsubmit").click(function (e) {
                $("#hiddenOffers").val(SelectedOffers);



                var FullName = $("#txtFullName").val();
                var Email = $("#txtEmail").val();
                var MobileNo = $("#txtMobileNo").val();
                var City = $("#ddlCity").val();


                if (FullName == '') {
                    $('#ErrorFullName').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorFullName').css('display', 'none');
                }

                if (Email == '') {
                    $('#ErrorEmail').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorEmail').css('display', 'none');
                }

                if (MobileNo == '') {
                    $('#ErrorMobileNo').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorMobileNo').css('display', 'none');
                }

                if (City == '') {
                    $('#ErrorCity').css('display', 'block');
                    Blank1 = true;
                }
                else {
                    $('#ErrorCity').css('display', 'none');
                }

                if (Blank1) {

                    return false;

                }
                else
                {
                    return true;
                }


            });
        });



    </script>

    <style>
        .ErrorValidation {
            display: none;
            color: #dc3545 !important;
            margin-bottom: 10px;
        }
    </style>
</body>
</html>
