﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#0f2765" />
    <meta name="description" content="">
    <title>Hafele - Thank You</title>
    <link rel="shortcut icon" href="https://www.hafeleindia.com/hap-live/static/WFS/Haefele-HIN-Site/-/-/en_IN/images/favicons/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Resource/website/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/Resource/website/css/style.css">

    <script src="/Content/Resource/website/js/jquery-3.5.1.min.js"></script>
    <script src="/Content/Resource/website/js/bootstrap.bundle.min.js"></script>
</head>
<body style="height:100vh">

    <div class="wrapper thankyouPage h-100">

        <!-- 	<picture>
                  <source media="(min-width:992px)" srcset="images/Summer_Desktop.jpg">
                  <img src="images/Summer_Mobile.jpg" class="bannerBg">
            </picture> -->

        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-auto">


                <div class="text-center">

                    <img src="/Content/Resource/website/images/hafeleLogoDark.png" class="mb-5">

                    <h2>Thank You</h2>
                    <p class="mb-4"><strong>We will get in touch with you shortly.</strong></p>

                    <a href="https://hafeleappliances.com" class="pinkBtn rounded-pill mb-4 px-4 d-block w-100">Visit Hafele Appliances Website</a>

                    <a href="/" class="d-block">Back to Home</a>

                </div>


            </div>
        </div>

    </div>


    @*<script>
        $(window).on('load', function () {
            setTimeout(function () {
                window.location = "https://www.hafeleindia.com/en/";
            }, 5000);
        });
    </script>*@
</body>
</html>