﻿@model Hafele.Models.Login
@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/favicons/apple-touch-icon.png?ver=@DateTime.Now.Millisecond">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/images/favicons/favicon-32x32.png?ver=@DateTime.Now.Millisecond">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/images/favicons/favicon-16x16.png?ver=@DateTime.Now.Millisecond">
    <link rel="manifest" href="/Content/images/favicons/manifest.json?ver=@DateTime.Now.Millisecond">
    <link rel="mask-icon" href="/Content/images/favicons/safari-pinned-tab.svg?ver=@DateTime.Now.Millisecond" color="#5bbad5">
    @*<link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/images/favicon.ico")">*@
    <link rel="shortcut icon" href="https://www.hafeleindia.com/hap-live/static/WFS/Haefele-HIN-Site/-/-/en_IN/images/favicons/favicon.ico" type="image/x-icon" />
    <meta name="theme-color" content="#bfc2d1">

    <link rel="stylesheet" href="/Content/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  href="/Content/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/vendors/animate.css/animate.min.css">
    <link rel="stylesheet"  href="/Content/build/css/custom.min.css">

    <link rel="stylesheet" href="/Content/Resource/Css/Login.css">

    <script src="/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/Content/Resource/js/Login.js"></script>


    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Login/css")
    @Styles.Render("~/Login/css1")*@

</head>


<body class="login myformclass">


    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">

                    <h1>@ViewBag.Title</h1>
                    <div>

                        @Html.TextBoxFor(x => x.Username, new { id = "txtusername", autocomplete = "off", type = "text", @class = "form-control clearoldmsg", placeholder = "Username" })
                    </div>
                    <div>

                        @Html.TextBoxFor(x => x.Password, new { id = "txtpassword", autocomplete = "off", type = "password", @class = "form-control clearoldmsg", placeholder = "Password" })
                    </div>
                    <div id="validationmessage" style="display: none;">
                        <label id="lblmsg"></label>

                    </div>
                    <div>
                        @Html.HiddenFor(x => x.UserType)
                        <input type="button" class="btn btn-default submit" value="Log in" id="btnlogin" onclick="javascript: return ValidateFields();" />
                        <img src="~/Content/images/Loader.gif" style="height: 90px; width: 90px; display: none;" class="imgloader" />
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">
                            Forgot Password?
                            <a href="#signup" class="to_register">Click here</a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><img src="~/Content/images/logo_Hafele.png" /></h1>
                            <p>© @DateTime.Now.Year All Rights Reserved.</p>
                        </div>
                    </div>

                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Forgot Password</h1>
                        <div>
                            @Html.TextBoxFor(x => x.Emailid, new { id = "txtforgotemail", autocomplete = "off", type = "text", @class = "form-control clearoldmsg", placeholder = "Enter Your Registered Email Id" })
                        </div>
                        <div id="validationmessage1" style="display: none;">
                            <label id="lblmsg1"></label>

                        </div>
                        <div>
                            @*<a class="btn btn-default submit" href="index.html">Submit</a>*@
                            <input type="button" class="btn btn-default submit" value="Submit" id="btnforgot" onclick="javascript: return ForgotValidateFields();" />
                            <img src="~/Content/images/Loader.gif" style="height: 90px; width: 90px; display: none" class="imgloader" />
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                For Login ?
                                <a href="#signin" class="to_register">Click here </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><img src="~/Content/images/logo_Hafele.png" /></h1>
                                <p>© @DateTime.Now.Year All Rights Reserved.</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

</body>

@*@Scripts.Render("~/Login/js")*@

</html>
